input[type="file"] {
  display: block;
  margin: 10px 0;
}

img {
  width: 300px;
  max-height: 100%;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
  margin: 20px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}